<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration PUBLIC "-//log4j/log4j Configuration//EN" "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p %c.%M:%L - %m%n" />
		</layout>
	</appender>
	<appender name="remoteAppender" class="org.apache.log4j.net.SocketAppender">
        <param name="remoteHost" value="10.1.241.33" /><!-- 这是远程log server -->
        <param name="port" value="4560" /><!-- 这是远程log server port -->
<!--         <param name="Threshold" value="DEBUG" />log 级别 -->
        <param name="ReconnectionDelay" value="1000" />
        <param name="LocationInfo" value="true" />
	</appender>

	<!-- specify the logging level for loggers from other libraries -->
	<logger name="com.ai">
		<level value="DEBUG" />
		<appender-ref ref="STDOUT" />
 		<appender-ref ref="remoteAppender" />
	</logger>

	<!-- for all other loggers log only info and above log messages -->
	<root>
		<priority value="DEBUG" />
		<appender-ref ref="STDOUT" />
		<appender-ref ref="remoteAppender" />
	</root>
</log4j:configuration> 
